<p id="notice"><%= notice %></p>

<!-- yay for christina and elizabeth! -->

<p>
  <b>Name:</b>
  <%= @ingredient.name %>
</p>

<p>
  <b>Quantity:</b>
  <%= @ingredient.quantity %>
</p>


<%= link_to 'Edit', edit_ingredient_path(@ingredient) %> |
<%= link_to 'Back', ingredients_path %>
